
body{
  background:  url(../img/fondo.jpg) !important;
  background-repeat: no-repeat !important;
  background-size: cover !important ;
  background-position: center !important;
  background-attachment: fixed!important;
}


/* modificaciones a contenedores  */
.principal{
  background-color: rgba(245, 139, 0, 0.38);

}

.column-izq{
  background-color:rgba(255, 189, 102, 1);
  color: rgba(182, 32, 52, 1);
}

.column-der{
  background-color: rgba(255, 231, 112, 1);
}
.comentarios{
  background-color: rgba(0, 47, 255, 0);
}

/* arreglos de detalles especificos */
#publi2{
  width: 100%;
}

#perfil{
  width: 10%;

}
#titulo{
  border-right: solid rgba(255, 255, 255, 0.59) 1px;
  margin-bottom: 3%;
}
#contenido{
  border-top: solid rgba(255, 255, 255, 0.59) 1px;
  padding-top: 3%;
}
