


body{
  background: url(../img/fondo.svg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;
background-size:cover;
width: 100%;
height: 100%;

}

#logo{
  margin-top: 2rem;
  width: 80%;
  float: right;
  border-radius: 10px;
}
#red{
  width: 60%;
  margin-left: 1.1rem;
}
#images-izq{
  width: 100%;
}
#image-center{
  width: 100%;
}
#images-der{
  width: 100%;
  height: 200px;
}
#image-card{
  width: 30%;
  margin-left: 1rem;
  margin-top: 2rem;
  margin-right: 1rem;
  float: left;
}
#img-perfil{
  width: 60%;
  margin-left: 4rem;
  margin-top: 1rem;
}
.Slogan{
  margin-top: 3%;
  color: white;
  font-family: sans-serif;
}
.entrada{
  margin-left: 1rem;
  margin-right: 1rem;
}
.boton{
  margin-right: 4%;
  margin-bottom: 1%;
}
.perfil{
  margin-top:1rem;
}
