div{
  border: solid black 1px;
}


body{
  background: url(../img/fondo.svg);
background-attachment: fixed;
background-repeat: no-repeat;
background-position: center center;
background-size:cover;
width: 100%;
height: 100%;

}

#logo{
  margin-top: 4rem;
  width: 60%;
  float: right;
  border-radius: 10px;
}
#red{
  width: 60%;
  margin-left: 1.2rem;
}
#images-izq{
  width: 100%;
}
#image-center{
  width: 100%;
}
#images-der{
  width: 100%;
  height: 200px;
}
.Slogan{
  margin-top: 4%;
  color: white;
  font-family: sans-serif;
}
